body{
    background-color: #fff;}

    h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 30px;
        background-color: rgb(0, 0, 0);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header{  
        text-align: center;
        }
        
        h1 a{
          color: rgb(82, 82, 82);
          text-decoration: none;
          
        }
        ul.list{
          text-align: center;
          width: 100%;
        }
        hr{
            width: 120px;
        }
        li{
            font-weight: bold;
            font-size: 17px;
            display: inline;
            
        }
        .list a{
            color: rgb(82, 82, 82);
            text-decoration: none;
            font-size: 20px;
        }
        .list a:hover{
            background-color: rgb(66, 66, 62);
            color: white;
            border-radius: 5px;
        }
        .iconbox img{
            width: 35px;
            margin: 10px;
            float: right;    
            margin-top: 0px;
          }
    .item_header{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.158);
    border-radius: 3px;
    padding-left: 10px;
}
.item_header div{
    width: 200px;
    color: rgb(0, 0, 0);
    line-height: 30px;
}
.item_header .item_detail{
    
    width: 70%;
    font-size: 18px;
}
.item_body{
    margin-top: 20px;
    height: 100px;
    align-items: center;    
}
.item_detail img{
    width: 100px;
    height: 80px;
    border-radius: 3px;
    float: left;
}
.item_detail .name{
    margin-left: 120px;
    margin-top: 10px;
} 
footer{
    text-align: center;
  }